input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

body {
    color: purple;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.4) !important;
}

.result-icon {
    font-size: clamp(4em, 6vw, 8em) !important;
}

.purple-border {
    border-color: purple !important;
}

.btn-outline-purple {
    color: purple;
}

.btn-outline-purple:hover {
    background-color: purple;
    color: #fff;
}

#top_center_element {
    left: 50% !important;
    transform: translateX(-50%) !important;
}

.info-btn {
    border: none !important;
    position: relative !important;
    top: -10px !important;
    right: -10px !important;
}

.tooltip-inner {
    background-color: white !important;
    color: #0f5132 !important;
    border: 1px solid #0f5132 !important;
}

.tooltip-arrow::before {
    border-top-color: #0f5132 !important;
}

.nagishli-trigger-icon {
    background-color: purple !important;
}