:root {
    --custom-purple: #804780;
    --custom-blue: #1d1e6b;
}

body {
    padding-bottom: 70px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.text-purple {
    color: var(--custom-purple);
}

.text-blue {
    color: var(--custom-blue);
}

.text-danger-custom {
    color: #a52d39 !important;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.4) !important;
}

.result-icon {
    font-size: clamp(4em, 6vw, 8em);
}

.purple-border {
    border-color: purple !important;
}

.btn-purple {
    background-color: var(--custom-purple);
    color: #fff;
}

.btn-purple:hover {
    color: purple;
}

.btn-outline-purple {
    color: purple;
}

.btn-outline-purple:hover {
    background-color: var(--custom-purple);
    color: #fff;
}

.btn-clear {
    color: #726e6e;
}

.btn-clear:hover {
    color: black;
}

#main_logo {
    color: var(--custom-purple);
    font-family: 'Pacifico', system-ui;
    font-style: italic;
    font-size: clamp(35px, calc(30px + 2vw), 80px);
}

.info-btn {
    border: none !important;
    position: relative !important;
    top: -10px !important;
    right: -10px !important;
}

.tooltip {
    opacity: 1 !important;
}

.tooltip-inner {
    background-color: white !important;
    color: #0f5132 !important;
    border: 1px solid #0f5132 !important;
}

.tooltip-arrow::before {
    border-top-color: #0f5132 !important;
}

.nagishli-trigger-icon {
    background-color: purple !important;
    bottom: 40px !important;
}